body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: gray;
}

.wrapper {
    width: 800px;
    margin: auto;
    text-align: left;
    background-color: white;
    padding-bottom: 0.5em;
}

.header {
    background-color: #0D8;
    padding: 0.4em;
    color: white;
    font-size: 200%;
}

.hnav {
    margin: 0;
    padding: 4px 0;
    background-color: black;
}

.hnav li {
    display: inline;
    margin: 0;
}

.hnav li a {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    padding: 8px;
    color: white;
}

.hnav li a:hover {
    text-decoration: underline;
}

.subpane {
    float: right;
    border: solid 1px gray;
    margin: 0.5em 1em 0.5em 1em;
    padding: 0.4em;
}

.main {
    clear: left;
    margin: 0.4em 1em 1em 1em;
}

.footer {
    clear: both;
    font-size: 80%;
    margin: 0.5em 2em;
    text-align: center;
    color: gray;
}
