# Options +ExecCGI
# AddHandler cgi-script .cgi
# * If you want to run PHP as CGI, you should set CGI-script used after Apache's internal redirect.
# * So we recommend to set your gateway script behind using mod_rewrite to avoid an error related to "REDIRECT_STATUS CGI".
# * See: http://www.php.net/manual/en/security.cgi-bin.php

RewriteEngine On

# * Set RewriteBase if you are using Alias directive to place your contents out of DocumentRoot.
# RewriteBase /your/alias/uri

################# 19.otherfw add begin ####################
# Special pattern to avoid Pinoco
RewriteRule ^(other/.*)$   $1 [L,QSA]
################# 19.otherfw add end   ####################


# * HTMLs or missing files:
# * (Don't care existing non-HTML files)
# * NOTE: OR operator of mod_rewrite more strongly connects than AND.
RewriteCond %{REQUEST_FILENAME} \.(html|php)$ [OR]
RewriteCond %{REQUEST_FILENAME} !-f

# * Still not rewritten requests only:
RewriteCond %{REQUEST_FILENAME} !_gateway\.php$

# * Extra restrictions you want:
# RewriteCond %{REQUEST_URI} !^/your_site_uri/(static|media)/.*$
# RewriteCond %{REQUEST_URI} !^/your_site_uri/another_php_app/.*$

# * Execute rewriting!

# * The path is given to $_SERVER['PATH_INFO']:
RewriteRule ^(.*)$   _gateway.php/$1 [L]
# * The path is given to $_GET['PATH_INFO']:
# RewriteRule ^(.*)$   _gateway.php?PATH_INFO=/$1 [L,QSA]

